<a href="https://colab.research.google.com/github/Bborub/baseball/blob/main/Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Drop rows with any NA values:

df.dropna()

df_cleaned = df.dropna()

In [ ]:
# Drop rows where all values are NA:

df.dropna(how='all')

df_cleaned = df.dropna(how='all')

In [ ]:
# Drop columns with any NA values:

df.dropna(axis=1)

df_cleaned = df.dropna(axis=1)

In [ ]:
# Drop rows where NA appears in specific columns:

df.dropna(subset=['col1', 'col2'])

df_cleaned = df.dropna(subset=['col1', 'col2'])

In [ ]:
Fill NA values with a specific value:

df.fillna(0) # Fill NA values with 0

df_cleaned = df.fillna(0) # Fill NA values with

In [ ]:
# Fill NA values with the mean of the column:

df.fillna(df.mean())

df_cleaned = df.fillna(df.mean())

In [ ]:
# Forward fill (propagate last valid observation forward):

df.fillna(method='ffill')

df_cleaned = df.fillna(method='ffill')

In [ ]:
# Backward fill (use next valid observation to fill gap):

df.fillna(method='bfill')

df_cleaned = df.fillna(method='bfill')

In [ ]:
# After applying any of these methods, you can check the result:

df_cleaned.head()

print(df_cleaned.info())  # or df_filled.info()

In [ ]:
# Remembe that these operations create a new DataFrame. If you want to modify the original DataFrame, you can add the inplace=True parameter to most of these methods:

df.fillna(method='ffill', inplace=True)

df.dropna(inplace=True)

In [ ]:
# If it is already a pandas DataFrame:
# You don't need to convert it. You can check with:

print(type(df))

import pandas as pd

if isinstance(file, pd.DataFrame):
    print("file is already a pandas DataFrame")
else:
    print("file is not a pandas DataFrame")
# # #
print(type(df)) # or this method

In [ ]:
import pandas as pd

df = pd.read_csv('wtq.csv')

In [ ]:
import pandas as pd

df = pd.read_excel('wtq.xlsx')

In [ ]:
# Here are several ways to examine the contents of a DataFrame in Python using pandas:

# Display the first few rows of the DataFrame:

df.head() # Default is 5 rows

# You can specify the number of rows to display:

df.head(10) # Display the first 10 rows

# Display the last few rows of the DataFrame:

df.tail() # Default is 5 rows

# You can specify the number of rows to display:

df.tail(10) # Display the last 10 rows

# Get the dimensions (number of rows and columns) of the DataFrame:

df.shape

# Get the column names of the DataFrame:

df.columns

# Get the data types of the columns in the DataFrame:

df.dtypes

# Get the unique values in a specific column:

df['column_name'].unique()

# Get the number of unique values in a specific column:

df['column_name'].nunique()

# Get the count of each unique value in a specific column:

df['column_name'].value_counts()

# Get basic information about the DataFrame:

df.info()

# Display basic statistical details of numerical columns:

df.describe()

# also use below 'print' command in codes above:

print(df.columns)
print(df.index)

In [ ]:
# Use this in EDGAR TOOLS to Create Data Frame to run financial analysis, etc.:

import pandas as pd
weninc = pd.DataFrame(data)

In [ ]:
# There are many types of financial analytics you can perform in Colab to compare the financials of two companies. Here are some common analyses you can conduct using Python and libraries like pandas, numpy, and matplotlib:

import pandas as pd
import matplotlib.pyplot as plt

# Assuming you have DataFrames 'company1_bs', 'company1_is', 'company2_bs', 'company2_is'

# Calculate some ratios
def calculate_ratios(bs, is):
    return {
        'Current Ratio': bs['Current Assets'] / bs['Current Liabilities'],
        'ROA': is['Net Income'] / bs['Total Assets'],
        'Profit Margin': is['Net Income'] / is['Revenue'],
        'Debt to Equity': bs['Total Liabilities'] / bs['Total Equity']
    }

ratios1 = calculate_ratios(company1_bs, company1_is)
ratios2 = calculate_ratios(company2_bs, company2_is)

# Create a DataFrame for comparison
comparison_df = pd.DataFrame({'Company 1': ratios1, 'Company 2': ratios2})

# Visualize the comparison
comparison_df.plot(kind='bar')
plt.title('Financial Ratio Comparison')
plt.xlabel('Ratios')
plt.ylabel('Values')
plt.show()

# Trend analysis
def calculate_growth_rate(df, column):
    return (df[column].pct_change() * 100).mean()

revenue_growth1 = calculate_growth_rate(company1_is, 'Revenue')
revenue_growth2 = calculate_growth_rate(company2_is, 'Revenue')

print(f"Average Revenue Growth Rate:")
print(f"Company 1: {revenue_growth1:.2f}%")
print(f"Company 2: {revenue_growth2:.2f}%")

In [ ]:
import pandas as pd

def calculate_altman_z_score(df):
    A = df['Working Capital'] / df['Total Assets']
    B = df['Retained Earnings'] / df['Total Assets']
    C = df['EBIT'] / df['Total Assets']
    D = df['Market Value of Equity'] / df['Total Liabilities']
    E = df['Sales'] / df['Total Assets']

    Z = 1.2*A + 1.4*B + 3.3*C + 0.6*D + 1.0*E

    return Z

# Assuming 'df' is your DataFrame with the required financial data
df['Altman Z-Score'] = calculate_altman_z_score(df)

print(df['Altman Z-Score'])

In [ ]:
# This is how to delete specific columns in a df:

df = df.drop(['col1', 'col2'], axis=1) # Or this method:

df = df.drop(['col1', 'col2'], axis=1, inplace=True)

In [ ]:
# Examine data in a column:

df['col1'].value_counts()

df['col1'].unique()

df['col1'].nunique

In [ ]:
# Replace white spaces with underscore:

df['col1'].replace(' ', '_'), regex=True, inplace=True)

# Eliminate white spaces in column names:

df.columns = df.columns.str.replace(' ', '')
df.head()

# Replace all white spaces in entire df with underscore:

df.replace(' ', '_', regex=True, inplace=True)
df.head

In [ ]:
# One-Hot Encoding. These example may need further explanation:

pd.get_dummies(df['col1'])

pd.dummies(X,columns=['Payment_Method']).head()